[Unit]
Description=Redis data structure server
Documentation=https://redis.io/documentation
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/redis
ExecStart=@sbindir@/redis-server $CONFIG_FILE --supervised systemd --daemonize no
LimitNOFILE=10032
NoNewPrivileges=yes
Type=notify
TimeoutStartSec=infinity
TimeoutStopSec=infinity
UMask=0077
User=redis
Group=redis
WorkingDirectory=@localstatedir@/lib/redis

[Install]
WantedBy=multi-user.target
